<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('¿Que Son Los Sellos de Excelencia?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
       Los Sellos de Excelencia en Gobierno Digital es un reconocimiento del MinTIC
	   a los servicios digitales y conjuntos de datos abiertos que cumplen con altos
	   estándares de calidad, seguridad, accesibilidad y transparencia. Certifica que
	   los productos digitales del Estado responden a las necesidades ciudadanas,
	   cumplen la normativa, promueven la confianza y participación, y garantizan la
	   mejora continua. En los datos abiertos, asegura que sean útiles, actualizados
	   y reutilizables..
      {% endtrans %}
    </p>
  </div>
</div>