{% extends "page.html" %}

{% block page_title %}Listado de Sellos de Excelencia{% endblock %}

{% block primary_content %}
<h1>Sellos de Excelencia</h1>
	{% if sellos %}			
		{# <pre>Type: {{ sellos.__class__ }}  Length: {{ sellos|length }} {{ sellos }}<pre>	#}	
		{% for sello in sellos %}
			<div class="card">
				<div class="header">

				</div>
				<div class="body">
					<div class="row">
						<div class="col col-md-9">
						Nombre Postulado:      {{ sello.title }} </br>
						Descripcion:           {{ sello.descripcion }} </br>
						Dependencia:		   {{ sello.dependiencia}} </br>
						Fecha de Obtencion:    {{ sello.fecha_obtencion }} </br>
						Nivel de Calificacion: {{ sello.nivel }} </br>
						</div>
						<div class="col col-md-3">
							<a class="module-image_tematica" href="{{ sello.pdf_url }}" target="_blank">
								<img class="img-tematica" src="{{h.url_for_static('/img/sello.png')}}" alt="{{ sello }}" />
							</a>
							{# <a href="{{ sello.pdf_url }}" target="_blank">Ver PDF</a>#}	

						</div>

					</div>
					
					
				</div>
				<div class="footer">

				</div>

			</div>
		{% endfor %}
	{% else %}
		<p>No hay sellos disponibles.</p>
	{% endif %}
{% endblock %}
